@use "./../../styles/mixins/button.scss" as *;
@use "./../../styles/mixins/title-font-size.scss" as *;
@use "./../../styles/mixins/border.scss" as *;
@use "./../../styles/mixins/status-text.scss" as *;

.page-container {
  padding: 10px;
}
ion-button {
  @include auth-button();
  margin-top: 50px;
}
p {
  &.description {
    @include title-font-size();
  }

  &.created,
  &.approved,
  &.submitted,
  &.cancelled {
    margin-top: 0;
    @include status-text();
  }
  &.created {
    color: rgb(255, 149, 0);
  }
  &.approved {
    color: rgb(255, 149, 0);
  }
  &.submitted {
    color: rgb(4, 161, 25);
  }
  &.cancelled {
    color: rgb(255, 0, 0);
  }
}
ion-item {
  &.created,
  &.approved {
    @include border(rgb(255, 149, 0));
  }
  &.cancelled {
    @include border(red);
  }
  &.submitted {
    @include border(rgb(4, 161, 25));
  }
}
ion-list {
  padding: 0;
}
.container {
  padding-bottom: 10px;
}
