<app-header [header]="'menu.Personals'|translate"></app-header>

<ion-content>
  <div class="page-container">
    <p *ngIf="coachClasses.length===0" class="description">
      {{"personals.description"|translate}}
    </p>
    <ion-list *ngIf="coachClasses.length>0">
      <ion-item
        color="light"
        [ngClass]="item.status"
        *ngFor="let item of coachClasses; trackBy: trackMessages"
      >
        <div [ngClass]="item.status===statuses.submitted? 'container':''">
          <app-schedule-item [item]="item"></app-schedule-item>
          <p [ngClass]="item.status">{{statusMessage(item.status!)}}</p>
          <app-messages [personal_id]="item.id"></app-messages>
          <app-payment
            [item]="item"
            *ngIf="item.status===statuses.approved"
          ></app-payment>
        </div>
      </ion-item>
    </ion-list>
    <ion-button
      expand="block"
      [routerLink]="['../',routerPath.personals, 'enroll']"
      size="large"
      fill="outline"
      >{{"personals.enroll.button"|translate}}</ion-button
    >
  </div>
</ion-content>
