<ion-content [scrollEvents]="true" (ionScroll)="closeDate()">
  <h1 *ngIf="archive; then archiveTitle; else currentTitle"></h1>
  <ng-template #archiveTitle
    ><h1>{{ "enrollments.archiveHeader" | translate }}</h1></ng-template
  >
  <ng-template #currentTitle
    ><h1>{{ "enrollments.header" | translate }}</h1></ng-template
  >
  <app-calendar
    [archive]="archive"
    [showDate]="showDate"
    [toggleDate]="toggleDate"
    [getDate]="getDate"
  ></app-calendar>

  <div>
    <ion-list>
      <ion-item color="light" *ngFor="let item of items">
        <app-schedule-item
          [item]="item"
          [cancell]="cancell"
          [archive]="archive"
        >
          <div>
            <p
              class="left"
              *ngIf="
                getTimeLeft(item.date_time) < 60 &&
                getTimeLeft(item.date_time) > 0
              "
            >
              {{ getTimeLeft(item.date_time) }}
              {{ "enrollments.timeLeft" | translate }}
            </p>
            <app-cancell-button
              *ngIf="!archive"
              [item]="item"
              (cancellEnrollment)="cancell && cancell($event)"
            ></app-cancell-button>
          </div>
        </app-schedule-item>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
