<app-header [link]="routerLink" linkName="Registrate"></app-header>
<ion-content *ngIf="showForm">
  <form (ngSubmit)="handleSubmit()" [formGroup]="loginForm">
    <ion-item
      [ngStyle]="getValidation(loginFormFields.email).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
      <app-errors
        [showError]="getValidation(loginFormFields.email).showMessage??false"
        [errors]="getErrors(loginFormFields.email)"
      ></app-errors>
    </ion-item>
    <ion-item
      [ngStyle]="getValidation(loginFormFields.password).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
      <app-errors
        [showError]="getValidation(loginFormFields.password).showMessage??false"
        [errors]="getErrors(loginFormFields.password)"
      ></app-errors>
    </ion-item>

    <ion-button
      [disabled]="loginForm.invalid"
      class="ion-margin-top ion-margin-horizontal padding-custom"
      expand="block"
      fill="outline"
      type="submit"
      >Log in</ion-button
    >
  </form>
</ion-content>
