@use "./../../../../styles/mixins/border.scss" as *;

h1 {
  text-align: center;
}
.button-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
ion-textarea {
  @include border(rgb(198, 198, 198));
}
