h1 {
  text-align: center;
}
.button-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
ion-textarea {
  border: 2px solid rgb(198, 198, 198);
  border-radius: 5px;
}
