@use "./../../../../../assets/styles/mixins/button.scss" as *;
@use "./../../../../../assets/styles/mixins/title-font-size.scss" as *;
@use "./../../../../../assets/styles/mixins/border.scss" as *;

.page-container {
  padding: 10px;
}
ion-button {
  @include auth-button();
  margin-top: 50px;
}
p {
  &.description {
    @include title-font-size();
  }
}
ion-item {
  &.created,
  &.approved {
    @include border(rgb(255, 149, 0));
  }
  &.cancelled {
    @include border(red);
  }
  &.submitted {
    @include border(rgb(4, 161, 25));
  }
}
ion-list {
  padding: 0;
}
.container {
  padding-bottom: 10px;
}
