<ion-header>
  <ion-toolbar>
    <div>
      <ion-button class="small-text" shape="round" size="small" color="tertiary"
        >Log in</ion-button
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showForm">
  <form (ngSubmit)="handleSubmit()" [formGroup]="registrationForm">
    <ion-item
      [ngStyle]="getValidation(validationFormFields.email).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
      <app-errors
        [showError]="getValidation(validationFormFields.email).showMessage??false"
        [errors]="getErrors(validationFormFields.email)"
      ></app-errors>
    </ion-item>
    <ion-item
      [ngStyle]="getValidation(validationFormFields.password).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
      <app-errors
        [showError]="getValidation(validationFormFields.password).showMessage??false"
        [errors]="getErrors(validationFormFields.password)"
      ></app-errors>
    </ion-item>
    <ion-item
      [ngStyle]="getValidation(validationFormFields.firstname).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Firstname</ion-label>
      <ion-input formControlName="firstname" type="text"></ion-input>
      <app-errors
        [showError]="getValidation(validationFormFields.firstname).showMessage??false"
        [errors]="getErrors(validationFormFields.firstname)"
      ></app-errors>
    </ion-item>
    <ion-item
      [ngStyle]="getValidation(validationFormFields.lastname).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Lastname</ion-label>
      <ion-input formControlName="lastname" type="text"></ion-input>
      <app-errors
        [showError]="getValidation(validationFormFields.lastname).showMessage??false"
        [errors]="getErrors(validationFormFields.lastname)"
      ></app-errors>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select
        formControlName="role"
        interface="popover"
        placeholder="Select role"
      >
        <ion-select-option *ngFor="let role of roles"
          >{{role}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item [ngStyle]="showKeyError()?keyInputStyles:{}" *ngIf="true">
      <ion-label position="floating">Admin key</ion-label>
      <ion-input formControlName="key" type="password"></ion-input>
      <app-errors
        [showError]="showKeyError()"
        [errors]="registrationForm.errors??{}"
      ></app-errors>
    </ion-item>

    <ion-button
      class="ion-margin-top ion-margin-horizontal padding-custom"
      expand="block"
      fill="outline"
      type="submit"
      >Register</ion-button
    >
  </form>
</ion-content>
