div {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
ion-button.padding-custom {
  --padding-top: 20px;
  --padding-bottom: 20px;
}
p {
  color: var(--ion-color-danger);
  margin: 0;
  font-size: 15px;
  position: relative;
  top: -10px;
}
