<app-header [link]="routerLink" linkName="Log in"></app-header>
<ion-content *ngIf="showForm">
  <form (ngSubmit)="handleSubmit()" [formGroup]="registrationForm">
    <ion-item
      [ngStyle]="getValidation(registrationFormFields.email).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
      <app-errors
        [showError]="getValidation(registrationFormFields.email).showMessage??false"
        [errors]="getErrors(registrationFormFields.email)"
      ></app-errors>
    </ion-item>
    <ion-item
      [ngStyle]="getValidation(registrationFormFields.password).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
      <app-errors
        [showError]="getValidation(registrationFormFields.password).showMessage??false"
        [errors]="getErrors(registrationFormFields.password)"
      ></app-errors>
    </ion-item>
    <ion-item
      [ngStyle]="getValidation(registrationFormFields.firstname).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Firstname</ion-label>
      <ion-input formControlName="firstname" type="text"></ion-input>
      <app-errors
        [showError]="getValidation(registrationFormFields.firstname).showMessage??false"
        [errors]="getErrors(registrationFormFields.firstname)"
      ></app-errors>
    </ion-item>
    <ion-item
      [ngStyle]="getValidation(registrationFormFields.lastname).blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">Lastname</ion-label>
      <ion-input formControlName="lastname" type="text"></ion-input>
      <app-errors
        [showError]="getValidation(registrationFormFields.lastname).showMessage??false"
        [errors]="getErrors(registrationFormFields.lastname)"
      ></app-errors>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select
        formControlName="role"
        interface="popover"
        placeholder="Select role"
      >
        <ion-select-option *ngFor="let role of roles"
          >{{role}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item [ngStyle]="showKeyError()?keyInputStyles:{}" *ngIf="true">
      <ion-label position="floating">Admin key</ion-label>
      <ion-input formControlName="key" type="password"></ion-input>
      <app-errors
        [showError]="showKeyError()"
        [errors]="registrationForm.errors??{}"
      ></app-errors>
    </ion-item>

    <ion-button
      [disabled]="registrationForm.invalid"
      class="ion-margin-top ion-margin-horizontal padding-custom"
      expand="block"
      fill="outline"
      type="submit"
      >Register</ion-button
    >
  </form>
</ion-content>
