<div class="container">
  <ion-label (click)="toggleDate()"
    >{{ "schedule.dateText" | translate }}
    <ion-icon name="calendar-outline"></ion-icon>:
    {{ dateForm.value.date ?? "" | formatDate : format }}</ion-label
  >
  <div [class.shown]="showDate" class="date-container">
    <form [formGroup]="dateForm">
      <ion-datetime
        [min]="minDate | zoneTime"
        [max]="maxDate | zoneTime"
        [locale]="isUk ? 'uk-UK' : 'en-GB'"
        formControlName="date"
        #date
        color="schedule"
        [presentation]="format"
        [preferWheel]="true"
      ></ion-datetime>
    </form>
  </div>
</div>
