<app-header [header]="'menu.Enrollments'|translate"></app-header>

<ion-content>
  <swiper [config]="config" #slides>
    <ng-template swiperSlide
      ><app-current
        [items]="getActive()"
        (setDate)="setDate($event)"
      ></app-current
    ></ng-template>
    <ng-template swiperSlide>
      <app-current
        [archive]="true"
        [items]="getArchive()"
        (setDate)="setDate($event)"
      ></app-current>
    </ng-template>
    <ng-template swiperSlide>
      <app-stats [current]="currentSlide"></app-stats>
    </ng-template>
  </swiper>
</ion-content>
