<app-header [header]="'menu.Enrollments'|translate"></app-header>

<ion-content>
  <swiper (slideChange)="onSlideChange()" [config]="config" #slides>
    <ng-template swiperSlide
      ><app-current
        [items]="getByDate()"
        (setDate)="setDate($event)"
      ></app-current
    ></ng-template>
    <ng-template swiperSlide
      ><app-current
        [archive]="true"
        [items]="getByDateArchive()"
        (setDate)="setDate($event)"
      ></app-current
    ></ng-template>
    <ng-template swiperSlide
      ><app-stats [items]="getByDateArchive()"></app-stats
    ></ng-template>
  </swiper>
</ion-content>
