<ion-content>
  <ion-item lines="none" color="light">
    <ion-select
      [(ngModel)]="filters.value.classItem"
      (ngModelChange)="selectClass($event)"
      interface="popover"
      [placeholder]="'schedule.classText' | translate"
    >
      <ion-select-option *ngFor="let class of classes" [value]="class.id">{{
        class.name
      }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item lines="none" color="light">
      <ion-select
        [okText]="'buttons.ok' | translate"
        [cancelText]="'buttons.cancel' | translate"
        (ngModelChange)="setSelectedDays($event)"
        [(ngModel)]="selectValue"
        [placeholder]="'schedule.selectDays' | translate"
        [multiple]="true"
      >
        <ion-select-option *ngFor="let item of radioItems" [value]="item.id">{{
          item.day | translate
        }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf="items.length > 0; then list; else text"></div>

  <ng-template #list>
    <ion-list>
      <ion-item
        lines="none"
        color="light"
        *ngFor="
          let item of items
            | filterClassSchedule : filters.value.days : filters.value.classItem
        "
      >
        <div>
          <p class="item-line">
            {{ item.date_time | getWeekDay | translate }}
            {{ item.date_time | formatDate : "time" }}
          </p>
          <p class="item-line">{{ item.coach }} {{ item.hall }}</p>
        </div>
      </ion-item>
    </ion-list>
  </ng-template>
  <ng-template #text
    ><p class="basic-text ion-padding-horizontal">
      {{ "schedule.basicSchedule" | translate }}
    </p></ng-template
  >
</ion-content>
