.date-container {
  color: var(--ion-color-step-400);

  position: absolute;
  z-index: 10;

  transform: translateY(-250px);
  transition: transform 250ms ease;
  &.shown {
    transform: translateY(15px);
  }
}
.container {
  padding: 10px;
}
ion-datetime {
  border: 3px solid white;
  border-radius: 5px;
}
ion-icon {
  position: relative;
  top: 3px;
}
p {
  margin-bottom: 0;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
.item-container {
  width: 100%;
}
.button-info {
  margin-right: 10px;
}
.button-reg {
  width: 95px;
  text-align: center;
}
