<app-header
  [link]="routerLink"
  [linkName]="'register.button'|translate"
></app-header>
<ion-content>
  <form (ngSubmit)="handleSubmit()" [formGroup]="loginForm">
    <ion-item
      [ngStyle]="getValidation(loginFormFields.email, loginForm)?.blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">{{"login.email"|translate}}</ion-label>
      <ion-input
        [formControlName]="loginFormFields.email"
        type="email"
      ></ion-input>
      <app-errors
        *ngIf="getValidation(loginFormFields.email, loginForm)?.showMessage??false"
        [errors]="getErrors(loginFormFields.email, loginForm)"
      ></app-errors>
    </ion-item>
    <ion-item
      [ngStyle]="getValidation(loginFormFields.password, loginForm)?.blockHighlight?inputStyles:{}"
    >
      <ion-label position="floating">{{"login.password"|translate}}</ion-label>
      <ion-input
        [formControlName]="loginFormFields.password"
        type="password"
      ></ion-input>
      <app-errors
        *ngIf="getValidation(loginFormFields.password, loginForm)?.showMessage??false"
        [errors]="getErrors(loginFormFields.password, loginForm)"
      ></app-errors>
    </ion-item>

    <ion-button
      [disabled]="loginForm.invalid"
      class="ion-margin-top ion-margin-horizontal padding-custom"
      expand="block"
      fill="outline"
      type="submit"
      >{{"login.button"|translate}}</ion-button
    >
  </form>
</ion-content>
