<app-header [header]="'schedule.header'|translate"></app-header>

<ion-content>
  <swiper [config]="config" #slides>
    <ng-template swiperSlide
      ><app-date-schedule [isCurrent]="getActiveSlide()===0"></app-date-schedule
    ></ng-template>
    <ng-template swiperSlide
      ><app-coach-schedule
        [isCurrent]="getActiveSlide()===1"
      ></app-coach-schedule
    ></ng-template>
    <ng-template swiperSlide
      ><app-class-schedule
        [isCurrent]="getActiveSlide()===2"
      ></app-class-schedule
    ></ng-template>
  </swiper>
</ion-content>
