@use "./../../../../../assets/styles/mixins/border.scss" as *;
@use "./../../../../../assets/styles/mixins/small-button.scss" as *;

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-info {
  margin-right: 10px;
}

@mixin enroll-btn {
  width: 105px;
  text-align: center;
}
.button-reg {
  @include enroll-btn();
}

span.enrolled {
  @include enroll-btn();
  @include border(green);
  @include small-button();

  display: inline-block;
  padding: 7px 5px;

  @media screen and (max-width: 370px) {
    padding: 8px 5px;
  }
  @media screen and (max-width: 300px) {
    padding: 9px 5px;
  }
  @media screen and (max-width: 240px) {
    padding: 10px 5px;
  }

  font-size: 14px;
}
ion-button {
  @include small-button();
}
