<app-header [header]="'schedule.header'|translate"></app-header>

<ion-content>
  <swiper (slideChange)="handleSlideChange($event)" [config]="config" #slides>
    <ng-template swiperSlide
      ><app-date-schedule [current]="activeSlide"></app-date-schedule
    ></ng-template>
    <ng-template swiperSlide
      ><app-coach-schedule [current]="activeSlide"></app-coach-schedule
    ></ng-template>
    <ng-template swiperSlide
      ><app-class-schedule [current]="activeSlide"></app-class-schedule
    ></ng-template>
  </swiper>
</ion-content>
