<ion-content [scrollEvents]="true" (ionScroll)="calendar.closeDate()">
  <h1 *ngIf="archive; then archiveTitle; else currentTitle"></h1>
  <ng-template #archiveTitle
    ><h1>{{ "enrollments.archiveHeader" | translate }}</h1></ng-template
  >
  <ng-template #currentTitle></ng-template>
  <app-calendar
    (onSetDate)="handleDate($event)"
    #calendar
    [archive]="archive"
  ></app-calendar>
  <div>
    <ion-list>
      <ion-item
        lines="none"
        [ngClass]="status(item)"
        color="light"
        *ngFor="let item of items; trackBy: trackMessage"
      >
        <div class="main-container ion-padding-vertical">
          <div class="item-container">
            <app-classes-details [item]="item"></app-classes-details>
          </div>

          <div class="item-container">
            <app-notes [item]="item"></app-notes>
          </div>

          <div class="item-container">
            <p class="item-line">{{ "infoModal.enrolled" | translate }}:</p>

            <ion-list *ngIf="getClients(item)">
              <app-user-card
                *ngFor="let id of getClients(item)"
                [userId]="id"
              ></app-user-card>
            </ion-list>
          </div>

          <p [ngClass]="status(item)">{{ statusMessage(item) }}</p>
          <app-pick-hall
            *ngIf="item.status === statuses.created"
            (onPickHall)="setHall($event)"
          ></app-pick-hall>

          <app-status-created
            [hallId]="pickedHall"
            [item]="item"
            *ngIf="item.status === statuses.created"
          ></app-status-created>

          <app-messages [personal_id]="item.id"></app-messages>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
