@use "./../../../../styles/mixins/title-font-size.scss" as *;

ion-list {
  padding: 0;
}

.main-container {
  width: 100%;
  height: 100%;
}
p {
  margin: 0;

  &.margin-bottom {
    margin-bottom: 10px;
  }

  &.item-line {
    @include title-font-size();
  }

  & span {
    font-size: inherit;
  }
}
.item-container {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
