div {
  position: fixed;
  right: 0;

  background-color: var(--ion-item-background);
  z-index: 2;
  width: 20%;

  border-radius: 10px;

  transform: translateY(-100px);

  transition: transform 250ms ease;

  &.shown {
    transform: translateY(0);
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 20px;
  width: 100%;
}
li {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.current {
    color: var(--ion-color-step-450);
  }
}
