@use "./../../../../styles/mixins/title-font-size.scss" as *;

.basic-text {
  margin: 0;
  text-align: center;
}
p {
  &.basic-text {
    margin-top: 10px;
    text-align: center;

    @include title-font-size();
  }
  &.item-line {
    @include title-font-size();

    margin-bottom: 0;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}
ion-list {
  padding: 0;
}
