<app-header [header]="'menu.CoachClasses'|translate"></app-header>

<ion-content>
  <swiper (slideChange)="handleSliding($event)" [config]="config" #slides>
    <ng-template swiperSlide
      ><app-classes
        [items]="items | filterActive"
        (setDate)="setDate($event)"
        [current]="currentSlide"
      ></app-classes>
    </ng-template>
    <ng-template swiperSlide>
      <app-classes
        [archive]="true"
        [items]="items | filterArchive"
        (setDate)="setDate($event)"
        [current]="currentSlide"
      ></app-classes>
    </ng-template>
  </swiper>
</ion-content>
