<div *ngIf="toggleDate && getDate" class="container">
  <ion-label (click)="toggleDate(dateForm)"
    >{{ "schedule.dateText" | translate }}
    <ion-icon name="calendar-outline"></ion-icon>:
    {{ getDate(dateForm) | formatDate : "date" }}</ion-label
  >
  <div [class.shown]="showDate" class="date-container">
    <form [formGroup]="dateForm">
      <ion-datetime
        mode="md"
        [min]="getMinDate() | zoneTime"
        [max]="getMaxDate() | zoneTime"
        [locale]="isUk() ? 'uk-UK' : 'en-GB'"
        formControlName="date"
        #date
        color="schedule"
        [presentation]="needsTime ? 'date-time' : 'date'"
        [preferWheel]="true"
      ></ion-datetime>
    </form>
  </div>
</div>
