.container {
  padding: 10px;
}
.date-container {
  color: var(--ion-color-step-400);

  position: absolute;
  z-index: 10;

  transform: translateY(-380px);
  transition: transform 250ms ease;
  &.shown {
    transform: translateY(15px);
  }
}
ion-datetime {
  border: 3px solid white;
  border-radius: 5px;
}
ion-icon {
  position: relative;
  top: 3px;
}
