<ion-app>
  <ion-menu type="push" content-id="main-content">
    <ion-content class="ion-padding">
      <ion-list [inset]="false" lines="none">
        <ion-menu-toggle *ngFor="let item of menuItems; let i = index"
          ><ion-item [routerLink]="item.link">
            <ion-label>{{ getTranslation(i) }}</ion-label>
          </ion-item></ion-menu-toggle
        >
      </ion-list>
      {{ test }}</ion-content
    >
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
