@use "./styles/mixins/button.scss" as *;

ion-app {
  max-width: 500px;

  margin-left: auto;
  margin-right: auto;
}
ion-menu {
  --width: 80vw;
}
div.menu-container {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ion-list {
  margin-bottom: 30px;
  padding: 0;
  background: transparent;
}
li {
  font-size: 20px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 370px) {
    font-size: 15px;
  }
  @media screen and (max-width: 250px) {
    font-size: 10px;
  }
}
ion-menu-toggle.menu-toggle {
  font-size: inherit;
}
.menu-item {
  font-size: inherit;
}
ion-button {
  @include auth-button();
}
