<ion-app>
  <ion-menu type="push" content-id="main-content">
    <ion-content class="ion-padding">
      <div class="menu-container">
        <ion-list [inset]="false" lines="none">
          <li
            *ngFor="let item of menuItems | filterMenu : role"
            routerLinkActive="active-link"
            [routerLink]="item.link"
          >
            <ion-menu-toggle class="menu-toggle"
              ><span class="menu-item">{{
                item.translatedName
              }}</span></ion-menu-toggle
            >
          </li>
        </ion-list>

        <ion-menu-toggle>
          <ion-button (click)="handleLogout()" fill="outline" shape="round">
            {{ "app.logout" | translate }}
          </ion-button></ion-menu-toggle
        >
      </div>
    </ion-content>
  </ion-menu>

  <ngx-spinner
    bdColor="rgba(0,0,0, 0.5)"
    size="medium"
    color="#ffb3bd"
    type="ball-atom"
    [fullScreen]="true"
  ></ngx-spinner>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
