<ion-content [scrollEvents]="true" (ionScroll)="closeDate()">
  <app-calendar
    [showDate]="showDate"
    [toggleDate]="toggleDate"
    [getDate]="getDate"
  ></app-calendar>
  <div>
    <ion-list>
      <ion-item color="light" *ngFor="let item of items">
        <app-schedule-item style="width: 100%" [item]="item">
          <app-item-buttons
            buttons
            [item]="item"
            (newEnrollment)="enroll && enroll($event)"
          ></app-item-buttons>
        </app-schedule-item>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
