<ion-content [scrollEvents]="true" (ionScroll)="closeDate()">
  <app-calendar
    [showDate]="showDate"
    [toggleDate]="toggleDate"
    [getDate]="getDate"
  ></app-calendar>
  <div>
    <ion-list>
      <ion-item color="light" *ngFor="let item of items">
        <div class="item-container">
          <p>{{ item.coach }} {{ item.class }}</p>
          <p>
            {{ getTimePart(item.date_time) }}
            {{ item.hall }}
          </p>

          <app-item-buttons
            *ngIf="!isCoach"
            [item]="item"
            (newEnrollment)="enroll($event)"
          ></app-item-buttons>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
