p,
span {
  font-size: 20px;
}
ion-datetime {
  --background: #e4e6e7;
  --background-rgb: 228, 230, 231;

  border: 2px solid var(--ion-color-profile);
}
.date {
  font-size: 25px;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 250ms ease;
  &.hidden {
    opacity: 1;
  }
}
.datePicker-container {
  position: absolute;
  left: 3px;

  & > div {
    position: absolute;
    top: -290px;

    transform: scale(0);
    opacity: 0;

    transition: transform 250ms ease, opacity 250ms ease;
    &.shown {
      z-index: 2;
      transform: scale(1);
      opacity: 1;
    }
  }
}
.edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.end {
    align-items: end;
  }
}
ion-textarea {
  border: 2px solid transparent;
  &.bordered {
    border-color: var(--ion-color-profile);
  }
}
ion-card-subtitle {
  font-size: 15px;
  --margin-top: 0;
}
