p {
  font-size: 20px;
}
ion-datetime {
  --background: #e4e6e7;
  --background-rgb: 228, 230, 231;
}
.date {
  font-size: 25px;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 250ms ease;
  &.hidden {
    opacity: 1;
  }
}
.datePicker-container {
  position: relative;
  & > div {
    position: absolute;
    top: -270px;

    transform: scale(0);
    opacity: 0;

    transition: transform 250ms ease, opacity 250ms ease;
    &.shown {
      z-index: 2;
      transform: scale(1);
      opacity: 1;
    }
  }
}
ion-datetime {
  border: 2px solid var(--ion-color-profile);
}
.edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.file-upload {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
.avatar-container {
  position: relative;
}
.avatar-button {
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--ion-color-profile);
  border-radius: 50%;
  background-color: #e4e6e7;

  & ion-icon {
    position: relative;
    top: 2px;
  }
}
ion-textarea.bordered {
  border: 2px solid var(--ion-color-profile);
}
