<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"profile.header"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showForm">
  <form [formGroup]="userForm">
    <ion-card color="light">
      <div class="avatar-container">
        <ion-img
          [src]="user.photo??'http://localhost:5555/no_photo.webp'"
        ></ion-img>
        <div class="avatar-button">
          <label for="avatar"
            ><ion-icon name="camera-outline"></ion-icon>
          </label>
          <input
            accept=".jpeg, .jpg, .png, .webp"
            id="avatar"
            type="file"
            class="file-upload"
            (change)="handlePhoto($event)"
          />
        </div>
      </div>

      <ion-card-header>
        <div class="edit-container">
          <ion-card-title
            >{{userForm.get('firstname')?.value+'
            '+userForm.get('lastname')?.value}}</ion-card-title
          >
          <app-icon-button
            [toggle]="toggleName"
            [show]="showName"
          ></app-icon-button>
        </div>
        <div *ngIf="showName">
          <ion-item
            [ngStyle]="getValidation('firstname', userForm)?.blockHighlight?inputStyles:{}"
            color="light"
          >
            <ion-label position="floating">Firstname</ion-label>
            <ion-input formControlName="firstname" type="text"></ion-input>
            <app-errors
              [showError]="getValidation('firstname', userForm)?.showMessage??false"
              [errors]="getErrors('firstname', userForm)??[]"
            ></app-errors>
          </ion-item>
          <ion-item
            [ngStyle]="getValidation('lastname', userForm)?.blockHighlight?inputStyles:{}"
            color="light"
          >
            <ion-label position="floating">Lastname</ion-label>
            <ion-input formControlName="lastname" type="text"></ion-input>
            <app-errors
              [showError]="getValidation('lastname', userForm)?.showMessage??false"
              [errors]="getErrors('lastname', userForm)??[]"
            ></app-errors>
          </ion-item>
        </div>

        <ion-card-subtitle
          >{{"roles"+'.'+ user.role|translate}}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        <div class="edit-container">
          <p>
            {{"profile.birthDate"|translate}} :<span
              *ngIf="!!getBirthDate(); then birthday; else noData"
            ></span>
          </p>
          <ng-template #birthday>{{getBirthDate()}}</ng-template>
          <ng-template #noData>{{"profile.noData"|translate}}</ng-template>

          <app-icon-button
            [toggle]="toggleShowDate"
            [show]="showDate"
          ></app-icon-button>
        </div>

        <div class="datePicker-container">
          <div [class.shown]="showDate">
            <ion-datetime
              formControlName="birth_date"
              class="ion-margin-top"
              color="profile"
              presentation="date"
              [preferWheel]="true"
              placeholder="Select Date"
            >
            </ion-datetime>
          </div>
        </div>

        <div class="edit-container">
          <ion-label>{{"profile.information"|translate}} </ion-label>
          <app-icon-button
            [toggle]="toggleInfo"
            [show]="showInfo"
          ></app-icon-button>
        </div>

        <ion-textarea
          [class.bordered]="showInfo"
          formControlName="information"
          [readonly]="!showInfo"
          [placeholder]="'profile.infoPlaceholder'|translate"
        ></ion-textarea>

        <ion-button
          [disabled]="!formHasChanges() || userForm.invalid"
          (click)="submitPatch()"
          color="danger"
          *ngIf="formHasChanges()"
          >Apply changes</ion-button
        >
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
