@use "./../../../../../assets/styles/mixins/textarea.scss" as *;
@use "./../../../../../assets/styles/mixins/title-font-size.scss" as *;
@use "./../../../../../assets/styles/mixins/smaller-text.scss" as *;
@use "./../../../../../assets/styles/mixins/button.scss" as *;

h1 {
  margin: 0;
  text-align: center;

  @include title-font-size();
}

textarea {
  @include textarea();
}
ion-label.sc-ion-label-md-h {
  @include smaller-text();
}
ion-button.submit {
  margin-top: 50px;
  @include auth-button();
}
