@use "./../../../../../assets/styles/mixins//title-font-size.scss" as *;

p {
  margin: 0;

  @include title-font-size();

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  & span {
    font-size: inherit;
  }
}
div {
  padding: 15px 0;
}
