<div class="avatar-container">
  <ion-img [src]="userPhoto ?? 'http://localhost:5555/no_photo.webp'"></ion-img>
  <div *ngIf="userPhoto" (click)="handleClear()" class="delete-photo">
    <ion-icon name="trash-outline"></ion-icon>
  </div>
  <div class="avatar-button">
    <label for="avatar"><ion-icon name="camera-outline"></ion-icon> </label>
    <input
      accept=".jpeg, .jpg, .png, .webp"
      id="avatar"
      type="file"
      class="file-upload"
      (change)="handlePhoto($event)"
    />
  </div>
</div>
