.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-info {
  margin-right: 10px;
}

@mixin enroll-btn {
  width: 105px;
  text-align: center;
}
.button-reg {
  @include enroll-btn();
}

span.enrolled {
  @include enroll-btn();

  display: inline-block;
  padding: 2px 5px;
  border: 2px solid green;
  border-radius: 3px;
}
