<div
  *ngIf="canEnroll(item.date_time)"
  class="ion-margin-top ion-margin-bottom button-container"
>
  <ion-buttons>
    <ion-button [id]="item.id" class="button-info" size="small" fill="outline"
      >info</ion-button
    >
    <ion-button
      color="secondary"
      (click)="enroll(item.id)"
      size="small"
      fill="outline"
      *ngIf="!item.enrolled"
      class="button-reg"
      >enroll</ion-button
    >
    <ion-button
      color="danger"
      [disabled]="!canCancell(item.date_time)"
      (click)="cancell(item.id)"
      size="small"
      fill="outline"
      *ngIf="item.enrolled"
      class="button-reg"
      >cancell</ion-button
    ></ion-buttons
  >
  <app-info-modal [item]="item"></app-info-modal>
</div>
