<div *ngIf="canEnroll(item.date_time)" class="button-container">
  <ion-buttons>
    <ion-button
      (click)="openClick(item.id)"
      class="button-info"
      size="small"
      fill="outline"
      >info</ion-button
    >
    <ion-button
      color="secondary"
      (click)="enroll(item.id)"
      size="small"
      fill="outline"
      *ngIf="!item.enrolled"
      class="button-reg"
      >enroll</ion-button
    >
    <span class="enrolled" *ngIf="item.enrolled">enrolled</span>
  </ion-buttons>
</div>
